.List{
    padding: 5px;
    border: 10px solid #ed9b40;
    margin-bottom: 80px;
}

.ListItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ListContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.ListaPokemones {
    display: inline-block;
    width: 200px;
    border: 3px solid #ed9b40;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.ListaPokemones h4 {
    margin-bottom: 5px;};

    .ListaPokemones img {
    width: 100px;
    height: 100px;}; 

.CarritoInfo{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.CarritoItem{
    padding: 3px;
}

.Detalles{
    display: flex;
    justify-content: center;
    
}