.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.FormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formItem{
    padding: 5px;
    margin: 5px;
}

.Btn{
    padding: 5px;
    margin: 5px;

}