.header{
    background-color: #a18262;
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px
    }
    
    .header__logo{
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
    .header__logo:hover{
        transform: scale(1.2);
    }
    
    .header__nav{
        display: flex;
        gap: 20px;
        align-items: center;
        .header__link{
            text-decoration: none;
            font-size: 15px;
            color: black;
            text-transform: uppercase;
        }
        
        .header__link:hover{
            transform: scale(1.2);
        }
        

    }
    

}