.sobreNosotrosContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 10px solid #a18262;
    background-color: white;
    h2{
        padding: 40px;
        font-size: large;
        font-weight: 300;
    }
    p{
        padding: 40px;
        font-weight: 100;
    }
}