.footer-container {
    background-color: #a18262;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
      
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .icon {
    color: black;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .rights {
    color: black;
    font-size: 14px;
  }
  
