// contacto.scss

.Contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 10px solid #a18262;
    max-width: 400px;
    margin: 0 auto;
  
    div {
      margin-bottom: 10px;
    }
  
    label {
      font-weight: bold;
    }
  
    input, textarea {
      width: 100%;
      padding: 5px;
      font-size: 16px;
    }
  
    button {
      margin-top: 10px;
      background-color: #a18262;
      color: black;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  